<ion-header style="margin-bottom: 7px">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center"> Sport Review </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" rel="stylesheet">
  <div id="speedDistance" style="width:100%; height:10%;">
    <div class="mapResumeZone">
      <div class="vertical-center">
        {{speed}}
      </div>
    </div>
      <div style="width: 30%; height: 100%">
        <div class="vertical-center" style="height:100%;">
          {{sport}}
        </div>
      </div>
    <div class="mapResumeZone">
      <div class="vertical-center">
        {{distanceDisplay}}
      </div>
    </div>
  </div>
  <div id="map" style="width:100%; height:70%;"></div>
  <div style="width:100%; height:10%;">
    <div id="count">{{ count }}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button
            *ngIf="start"
            style="width: 48%;"
            shape="round"
            [disabled]="count == '00:00:00'"
            (click)="pause()">
      {{stop ? "Resume" : "Pause"}}
    </ion-button>
    <ion-button
            *ngIf="start"
            style="width: 48%;"
            color="danger"
            shape="round"
            (click)="stopActivity()">
      End
    </ion-button>
    <ion-button
            *ngIf="start===false"
            style="width: 99%"
            color="secondary"
            shape="round"
            (click)="startActivity()">
      Quick start
    </ion-button>
  </ion-toolbar>
</ion-footer>
