.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

#count {
  text-align: center;
  font-size: 3em;
}

#speedDistance {
  margin: 0 auto;
}

#speedDistance div {
  display: inline-block;
  text-align: center;
}
