<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Sport Review </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" rel="stylesheet">
  <div id="speedDistance" style="width:100%; height:10%;">
    <div style="width: 30%; height:100%; border: solid black 1px">{{speed}}</div>
    <div style="width: 40%"></div>
    <div style="width: 30%; height:100%; border: solid black 1px">{{distanceDisplay}}</div>
  </div>
  <div id="map" style="width:100%; height:70%;"></div>
  <div style="width:100%; height:10%;">
    <div id="count">{{ count }}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
            expand="block"
            shape="round"
            fill="outline"
            [disabled]="count == '00:00:00'"
            (click)="pause()">{{stop ? "Resume" : "Pause"}}</ion-button>
  </ion-toolbar>
</ion-footer>
