<ion-header>
  <ion-toolbar>
    <ion-title>Trackings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px; text-align: center">
        <div>
          <ion-text style="text-align: center"> Longitude </ion-text>
        </div>
      </ion-col>
      <ion-col style="background-color: lightgrey;border: 1px solid; text-align: center">
        <div>
          <ion-text style="text-align: center"> Latitude </ion-text>
        </div>
      </ion-col>
      <ion-col style="background-color: lightgrey;border: 1px solid;border-top-right-radius: 15px; text-align: center">
        <div>
          <ion-text style="text-align: center"> Altitude </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let track of trackings">
      <ion-col style="border: 1px solid;">
        <div>
          {{track.id}}
        </div>
      </ion-col>
      <ion-col style="border: 1px solid;">
        <div>
          {{track.positionId}}
        </div>
      </ion-col>
      <ion-col style="border: 1px solid;">
        <div>
          {{track.trainingId}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
